<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ausias.intercibus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_fuego"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_fuego"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inici">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IniciarSessio" />
        <activity android:name=".RegistreParticular" />
        <activity android:name=".FerReserva" />
        <activity android:name=".RegistreEmpresa" />
        <activity android:name=".Registre" />
        <activity android:name=".CrearEspai" />
        <activity android:name=".PaginaPrincipal" />
        <activity android:name=".PaginaRecercaServeis" />
        <activity android:name=".VeureEspai" />
        <activity android:name=".LlistaResultatCerca" />
        <activity android:name=".ReservesPropies" />
        <activity android:name=".FerReservaSeleccionarServeis" />
        <activity android:name=".ReservaPropia" />
        <activity android:name=".ReservaRebudes" />
        <activity android:name=".VeureInfoPropietari" />
        <activity android:name=".VeureInfoClient" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".VeureReserva"></activity>
    </application>

</manifest>